<h2><%= l(:report_title_create_daily) %></h2>
<% labelled_tabular_form_for :reply, @reply, :url => { :action => "create",:id=>id }, :html => { :class => nil, :multipart => true, :id => "reply-form" } do |form| %>
  <%= render :partial => 'form', :locals => { :f => form } %>
  <%= submit_tag l(:report_button_daily_create) %>
<% end %>